div
{
  border-radius: 10px/90px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 
          inset -2px 0 3px 2px rgba(255, 255, 255, 0.6), 
          inset 2px 0 3px 2px rgba(255, 255, 255, 0.6), 
          inset -10px 0 10px 1px rgba(155, 155, 155, 0.1), 
          inset 10px 0 10px 1px rgba(155, 155, 155, 0.1);
}
